.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 2rem;
}

.breadcrumbItem {
    display: inline;
}

.breadcrumbLink {
    text-decoration: none;
    color: #0070f3;
    transition: color 0.3s;

    &:hover {
        color: #005bb5;
    }
}

.separator {
    margin: 0 5px;
    color: #aaa;
}