.featuredProducts {
    padding: 2rem;
    position: relative;

    .title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: bold;
        color: #004d40;
    }

    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2.5rem;
        margin-top: 1rem;
        min-height: 200px;

        p {
            grid-column: 1 / -1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            color: #777;
            height: 100%;
        }
    }

    .productCard {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .productImage {
        width: 100%;
        padding: 10px;
        height: auto;
        object-fit: contain;
        aspect-ratio: 16 / 9;
    }

    .productInfo {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .freeShipping {
        font-size: 12px;
        font-weight: bold;
        color: green;
        margin-bottom: 10px;
    }

    .productTitle {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .productPrice {
        font-size: 18px;
        color: #007bff;
        margin-top: 20px;
        align-self: flex-end;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .productButton {
        padding: 0.75rem 1rem;
        background-color: #004d40;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: #00796b;
        }
    }
}